# espTari Loader Test App
CONFIG_IDF_TARGET="esp32p4"

# Enable PSRAM
CONFIG_SPIRAM=y
CONFIG_SPIRAM_ALLOW_STACK_EXTERNAL_MEMORY=y

# Unity test framework
CONFIG_UNITY_ENABLE_FIXTURE=y
CONFIG_UNITY_ENABLE_IDF_TEST_RUNNER=y

# Logging
CONFIG_LOG_DEFAULT_LEVEL_INFO=y
